1.字典
定义
创建
字典的方法

定义：字典是一个键值对，使用{}括起来，里面一个键对应一个值，如：key:value;键值对之间使用逗号分隔

In [410]:
info = {'name':'Allen','age':23,'gender':'male','profession':'student'}
info

{'name': 'Allen', 'age': 23, 'gender': 'male', 'profession': 'student'}

In [411]:
print(type(info))

<class 'dict'>

In [412]:
info['age']         #可以通过dict的变量名以及key值来访问key中对应的值

23

In [413]:
#添加键值对
info['height'] = '175'
info

{'name': 'Allen',
 'age': 23,
 'gender': 'male',
 'profession': 'student',
 'height': '175'}

In [414]:
 #修改dict中的值
print(info)
info1 = info
print(info1)
info['age'] = 26
print(info1)

{'name': 'Allen', 'age': 23, 'gender': 'male', 'profession': 'student', 'height': '175'}
{'name': 'Allen', 'age': 23, 'gender': 'male', 'profession': 'student', 'height': '175'}
{'name': 'Allen', 'age': 26, 'gender': 'male', 'profession': 'student', 'height': '175'}

In [415]:
#删除键值对
del info['age']
info

{'name': 'Allen', 'gender': 'male', 'profession': 'student', 'height': '175'}

In [416]:
#遍历dict
for key,value in info.items():
    print('\nkey: '+key)
    print('\nvalue '+ value)

key: name

value Allen

key: gender

value male

key: profession

value student

key: height

value 175

In [417]:
#遍历dict中的key
result = []
for name in info.keys():
    result.append(name.title())      
result

['Name', 'Gender', 'Profession', 'Height']

In [418]:
#按照顺序遍历所有的key
for name in sorted(info.keys()):
    print(name)

gender
height
name
profession

In [419]:
#遍历dict中所有的值：
for value in info.values():
    print(value)

Allen
male
student
175

In [420]:
#dict中嵌套
names1 = info
names2 = {'name':'BOb','age':29,'gender':'male','profession':'teacher'}
names3 = {'name':'Lisa','age':24,'gender':'female','profession':'student'}
name = [names1,names2,names3]
name

[{'name': 'Allen', 'gender': 'male', 'profession': 'student', 'height': '175'},
 {'name': 'BOb', 'age': 29, 'gender': 'male', 'profession': 'teacher'},
 {'name': 'Lisa', 'age': 24, 'gender': 'female', 'profession': 'student'}]

In [421]:
#遍历并修改value
for n in name:
    if n['name'] == 'Bob':
        n['age'] = '25'
        n['profession'] = 'student'
print(name)

[{'name': 'Allen', 'gender': 'male', 'profession': 'student', 'height': '175'}, {'name': 'BOb', 'age': 29, 'gender': 'male', 'profession': 'teacher'}, {'name': 'Lisa', 'age': 24, 'gender': 'female', 'profession': 'student'}]

2.set 
特性
创建
方法

set定义：是一个无序且不重合的序列；集合是可变的，没有像列表一样的索引值；和dict有点类似，里面存储的是key,且不重复，但没有value

In [422]:
a=[]
for i in range(6):
    a.append(i)
print(a)
a_set = set(a)
print(a_set)                #可见可以将列表传入到set()中，但是set中会以字典的形式进行存储

[0, 1, 2, 3, 4, 5]
{0, 1, 2, 3, 4, 5}

In [423]:
b_set = set('abcdefg')
print(b_set)
print('------')
print(b_set)

{'g', 'd', 'e', 'b', 'c', 'a', 'f'}
------
{'g', 'd', 'e', 'b', 'c', 'a', 'f'}

In [424]:
#添加元素
b_set.add('e')
print(b_set)           #添加重复的元素，显现不出来
b_set.add('m')
b_set

{'g', 'd', 'e', 'b', 'c', 'a', 'f'}

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'm'}

In [425]:
#删除元素
b_set.remove('g')
b_set

{'a', 'b', 'c', 'd', 'e', 'f', 'm'}

In [426]:
#删除元素
b_set.discard('g')
b_set

{'a', 'b', 'c', 'd', 'e', 'f', 'm'}

In [427]:
#删除所有元素
b_set.clear()
b_set

set()

In [428]:
b_set = set('abcdefg')
b_set

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [429]:
#算元素的个数
len(b_set)

7

In [430]:
#遍历元素
for i in b_set:
    print(i)

g
d
e
b
c
a
f

In [431]:
#判断元素是否在集合中
'd' in b_set

True

In [432]:
b = ['a','n','f','r']
for i in b_set:
    print(i in b)

False
False
False
False
False
True
True

In [433]:
#数学计算
#求交集
b_set.intersection(b)

{'a', 'f'}

In [434]:
#求并集
b_set.union(b)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'n', 'r'}

In [435]:
#差集
b_set.symmetric_difference(b)

{'b', 'c', 'd', 'e', 'g', 'n', 'r'}

In [436]:
#常用函数
a_set = b_set.copy()
a_set

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [437]:
a_set.update('m')      #传入一个没有的元素，和添加是一样的效果
a_set

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'm'}

In [438]:
a_set.update(b)     #传入另一个集合，与并集是一样的
print(a_set)
print(b)
a_set.intersection(b)

{'d', 'e', 'm', 'c', 'a', 'g', 'n', 'b', 'r', 'f'}
['a', 'n', 'f', 'r']

{'a', 'f', 'n', 'r'}

In [439]:
a_set.intersection_update(b)   #该函数与求交集有什么差别呢？
a_set

{'a', 'f', 'n', 'r'}

In [440]:
c = ['c','d','f']
a_set.symmetric_difference_update(c)            #求并集并干掉相同的，那就是交集的补集
a_set

{'a', 'c', 'd', 'n', 'r'}

3.判断语句:if

In [441]:
age = input('请输入你的年龄： ')
print(age)
age = int(age)
if age < 12:
    print('you are child!!')
elif age>= 12 and age <18:
    print('you are teenager!')
elif age >=18 and age<65:
    print('you are middle age!')
else:
    print('you are old people!')

请输入你的年龄： 6
6
you are child!!

循环语句while

In [442]:
#1+2+3+.+100
numbers = []
for i in range(101):
    numbers.append(i)
print(numbers)
m = numbers[-1]
print(m)
sum = 0
n = 0
while(n < m+1):
    sum+= n
    n+=1
print(sum)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
100
5050

In [443]:
i= 1
while i <9:
    j =1
    while j<=i:
        print('%d * %d = %d'%(j,i,j * i))
        j+= 1
    print(' ')
    i+=1

1 * 1 = 1

1 * 2 = 2
2 * 2 = 4

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49

1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64

while 与break和continue结合使用

In [444]:
#1+2+3+.+100
numbers = []
for i in range(101):
    numbers.append(i)
print(numbers)
m = numbers[-1]
print(m)
sum = 0
n = 0
while(n < m+1):
    sum+= n
    n+=1
    if n == 50:
        break
print(sum)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
100
1225

In [445]:
#1+2+3+.+100
numbers = []
for i in range(101):
    numbers.append(i)
#print(numbers)
m = numbers[-1]
#print(m)
sum = 0
n = 0
while(n < m+1):
    sum+= n
    n+=1
    if n == 50:
        continue             #并没有打印50
    print(n)
print(sum)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
5050

4.三目表达式 与c语言的？ ：一样的道理，python使用的是if else

In [446]:
#第一种（推荐）
a = True
b = 5.0
c = 3
d = b  if a else c
d

5.0

In [447]:
a = False
b = 5.0
c = 3
d = b  if a else c
d

3

In [448]:
#第二种
a = True
b = 5.0
c = 3
d = a and b or c
d

5.0

In [449]:
a = False
b = 5.0
c = 3
d = a and b or c
d

3

In [450]:
#三目表达式的含义
if a:
    d = b
else:
    d =c
print(d)

3